@page
@model Inventory.Pages.Dogs.BreedModel

@{
    ViewData["Title"] = "Breed";

    //var breeds = ViewData["Breeds"] as Array;
    var breed= ViewData["breed"] as string;
    var parent1 = ViewData["Parent1"] as string;
    var parent2 = ViewData["Parent2"] as string;

    var breedname = "";
    var breedimg = "";

    var mombreed="";
    var mompedigree="";

    var dadbreed="";
    var dadpedigree="";


}



<div class="row">
    <div class="row col-12">
        <div class="col-2"></div>

        <div class="row col-8">

            <h1 style="margin-top:2vh">New Puppy</h1>
            <form method="post" class="adopt_form row col-12" asp-page-handler="breed">

            <div class="row col-4">
                    @foreach (var dogbreed in Model.Breeds)
                {
                    if(breed == dogbreed.Id.ToString())
                        {
                        breedname = dogbreed.BreedName;
                        breedimg = dogbreed.ImgUrl;

                        

                        <div class="col-12 form-group">
                        <label style="font-size:larger" for="breedid" class="control-label">Breed: @dogbreed.BreedName</label>
                        <input type=hidden  name="breedid" class="form-control" value=@dogbreed.Id>
                        </div>
                        <img class="col-12 dog_img_create" src=@breedimg> 
                        
                        }
                    }



            </div>
            <div class="row col-8">
                <div class="col-6">
                
                    @foreach (var dog in Model.Dogs)
                    {
                        if(dog.ID.ToString() == parent1)
                        {
                        var dadname = dog.Name;
                        dadbreed=dog.BreedID.ToString();
                        dadpedigree=dog.Pedigree;

                <div class="form-group">
                    <label for="motherid" class="control-label">Father: @dog.Name</label>
                    <input  name="motherid" class="form-control" value=@dog.ID type="hidden"/>
                </div>

                        }
                    }

                    @foreach (var dog in Model.Dogs)
                    {
                        if(dog.ID.ToString() == parent2)
                        {
                        var momname = dog.Name;
                        mombreed=dog.BreedID.ToString();
                        mompedigree=dog.Pedigree;

                <div class="form-group">
                    <label for="fatherid" class="control-label">Mother: @dog.Name</label>
                    <input  name="fatherid" class="form-control" value=@dog.ID type="hidden"/>
                </div>

                        }
                    }
                        <div class="form-group">
                        @if (mombreed == dadbreed)
                        {
                        <label for="pedigree" class="control-label">Pedigree: Purebred</label>
                        <input value="Purebred" name="pedigree" class="form-control" type="hidden"/>
                        }
                        @if(mombreed != dadbreed)
                        {
                            if (mompedigree==dadpedigree)
                            {
                                if (mompedigree == "Purebred")
                                {
                        <label for="pedigree" class="control-label">Pedigree: f1</label>
                        <input value="f1" name="pedigree" class="form-control" type="hidden"/>
                                }
                                if (mompedigree == "f1")
                                {
                        <label for="pedigree" class="control-label">Pedigree: f2</label>
                        <input value="f2" name="pedigree" class="form-control" type="hidden"/>
                                }
                                if (mompedigree == "f2")
                                {
                        <label for="pedigree" class="control-label">Pedigree: f3</label>
                        <input value="f3" name="pedigree" class="form-control" type="hidden"/>
                                }
                                if (mompedigree == "f3")
                                {
                        <label for="pedigree" class="control-label">Pedigree: Multi Generation</label>
                        <input value="Multi Generation" name="pedigree" class="form-control" type="hidden"/>
                                }
                                if (mompedigree == "Multi Generation")
                                {
                        <label for="pedigree" class="control-label">Pedigree: Multi Generation</label>
                                        <input value="Multi Generation" name="pedigree" class="form-control" type="hidden"/>
                                    }
                                }
                                if (mompedigree != dadpedigree)
                                {
                                    if ((mompedigree == "Purebred") || (dadpedigree == "Purebred"))
                                    {
                        <label for="pedigree" class="control-label">Pedigree: Backbred</label>
                        <input value="Backbred" name="pedigree" class="form-control" type="hidden"/>
                                    }
                                    else
                                    {
                        <label for="pedigree" class="control-label">Pedigree: Multi Generation</label>
                        <input value="Multi Generation" name="pedigree" class="form-control" type="hidden"/>
                                    }

                            }
                        }

                </div>
                </div>
                <div class="col-6">
                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input  name="name" class="form-control" type="text"/>
                </div>
                   
                <div class="form-group">
                    <label for="kennelid" class="control-label">Kennel: </label>
                    <select name="kennelid" class="form-control">
                        <option value="1">Kennel One</option>
                        <option value="2">Kennel Two</option>
                        <option value="3">Kennel Three</option>
                    </select> 
                </div>
 
                <div class="form-group">
                    <label for="sex" class="control-label">Sex:</label>
                    <select name="sex" class="form-control">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select> 
                </div>
                </div>
                <p style="color:red;font-weight:lighter;font-size:smaller">Genetics can be very complicated and careless breeding can often have unforseen results. Thus we believe that this responsibility should be restricted to qualified breeders only.</p>
            </div>

            <div class="col-12">
                
                <div class="form-group">
                    <label style="color:black" for="username" class="control-label">Breeder Name</label>
                    <input  name="username" class="form-control" type="text"/>
                </div>

                <div class="form-group">
                    <label style="color:black" for="usersurname" class="control-label">Breeder Surname</label>
                    <input  name="usersurname" class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label style="color:black" for="licensenum" class="control-label">License Number</label>
                    <input  name="licensenum" class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Breed" class="btn btn-primary" style="background-color:#006DAA; float:right"/>
                </div>
            </div>


        </form>
        </div>

        <div class="col-2"></div>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
