@page
@model Inventory.Pages.Dogs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dog.ID" />
            <div class="form-group">
                <label asp-for="Dog.Name" class="control-label"></label>
                <input asp-for="Dog.Name" class="form-control" />
                <span asp-validation-for="Dog.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dog.BreedID" />
            </div>
            <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dog.MotherID" />
            </div>
            <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dog.FatherID" />
            </div>
            <div class="form-group">
                <label asp-for="Dog.KennelID" class="control-label"></label>
                <input asp-for="Dog.KennelID" class="form-control" />
                <span asp-validation-for="Dog.KennelID" class="text-danger"></span>
            </div>
            <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dog.Pedigree" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
