@page
@model Inventory.Pages.Dogs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="edit">
            <input name="id" class="form-control" type="hidden" value=@Model.Dog.ID />
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input name="dogname" class="form-control" placeholder=@Model.Dog.Name />
            </div>

            <div class="form-group">
                <label for="Kennel" class="control-label">Kennel</label>
                <input name="kennel" class="form-control" placeholder=@Model.Dog.KennelID />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
